include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        script.
            var userLoggedIn = !{userLoggedInJs};
        .wrapper
            header
                //- .site-logo
                //-     a(href="/")
                //-         i.fa.fa-twitter
                //- .menubar
                //-     button#btn Menubar

                nav#nav-link.nav-link
                    a.site-logo(href="/")
                        i.fa.fa-twitter
                    a.link.active(href="/")
                        i.fas.fa-home
                        h3 Home
                    a.link(href="/search")
                        i.fas.fa-search
                        h3 Search
                    a.link(href="/notifications")
                        i.fas.fa-bell
                        h3 Notifications
                    a.link(href="/messages")
                        i.fas.fa-envelope
                        h3 Messages
                    a.link(href="/profile")
                        i.fas.fa-user
                        h3 Profile
                    a.link(href="/logout")
                        i.fas.fa-sign-out-alt
                        h3 Logout
            main.mainSectionContainer
                .titleContainer
                    h1 #{homeTitle}
                    block headerButton

                block content

            aside
        #notificationList

        script(src='https://kit.fontawesome.com/85404227e2.js' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

        block scripts

    
        script(src="/js/common.js")
        script(src="/js/clientSocket.js")

