extends layouts/home-layout.pug
block content
    section.site-container
        .left
            .left-content
                div
                    i.fa.fa-search
                    h3 Follow your interests.
                div
                    i.fa.fa-users
                    h3 Hear what people are talking about.
                div
                    i.fa.fa-comment
                    h3 Join the conversation
        .right
            .middle-content
                i.fa.fa-dove.site-logo
                h2 See what’s happening in the world right now
                h4 Join Twitter today.
                a.btn.signup(href="/register") Sign Up
                a.btn.login(href="/login")   Log In
        footer.site-footer
            ul
                li
                    a(href="#") About
                li
                    a(href="#") Help Center
                li
                    a(href="#") Terms of Service
                li
                    a(href="#") Privacy Policy
                li
                    a(href="#") Ads info
                li
                    a(href="#") Blog
                li
                    a(href="#") Status
                li
                    a(href="#") Careers
                li
                    a(href="#") Brand Resources
                li
                    a(href="#") Advertising
                li
                    a(href="#") Marketing
                li
                    a(href="#") Twitter For Business
                li
                    a(href="#") Developers
                li
                    a(href="#") Directory
                li
                    a(href="#") Settings
                li
                    a(href="#") &copy; 2020 Twitter,Inc.